@model MVC.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
    int position = 0;
    var colors = new List<string> {"salmon", "cyan", "pink", "green"};
    var random = new Random();
}

<div class="d-flex justify-content-between mb-2">
<h4>Tasks</h4>
<p>
 <button type="button" onclick="changeTitle()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Create New Task
</button>

</p>
</div>

<table class="table  table-bordered">
    <thead>
        <tr>
           <th colspan="9">
               <i class="bi bi-bookmark text-dark"></i>
               Work in progress
               </th>
        </tr>
        <tr>
            <th>
                @* <label asp-for="@Model.Tasks.FirstOrDefault(c => c.ID == 0).Status"></label>*@
            </th>
            <th>
                <label asp-for="@Model.Tasks.FirstOrDefault(c => c.ID == 0).Title"></label>
            </th>
             <th>
               Assigness
            </th>
            <th>
                 <label asp-for="@Model.Tasks.FirstOrDefault(c => c.ID == 0).StartDate"></label>
            </th>
            <th>
                 <label asp-for="@Model.Tasks.FirstOrDefault(c => c.ID == 0).EndDate"></label>
            </th>
            
            <th>
                 <label asp-for="@Model.Tasks.FirstOrDefault(c => c.ID == 0).ActualCost"></label>
            </th>
            <th>
                 <label asp-for="@Model.Tasks.FirstOrDefault(c => c.ID == 0).TotalBudget"></label>
            </th>
            <th>
                 Budget Variance
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!(Model.Tasks is null))
        {
            @foreach (var task in Model.Tasks)
            {
                <tr>
                     <td>
                       <div id="id-@(task.ID)" class="status  icone-status @(task.Status == "DONE" ? "bg-success": task.Status == "TODO" ? "bg-dark " : "bg-primary")"></div>
                       <div id="id-@(task.ID)-tooltip" style="display: none;">
                            <strong>@task.Status</strong>
                       </div>
                    </td>
                    <td style="font-weight:bold;" class="fixed-width-td">
                            <span onclick="toggle(@task.ID)"><i class="bi bi-chevron-right @task.ID"></i></span>
                            <span>@task.Title</span>
                    </td>
                     <td class="d-flex fixed-width-td">
                        @foreach(var emp in task.Employees.Where((e, i) => i < 3).ToList())
                        {   
                           <div class="div-avt-image" style="transform: translateX(@(position++ * (-5))px)">
                            @if(!(emp.PhotoName is null))
                             {        
                               <img src="@emp.PhotoName" />
                             }
                             else
                              {
                               <p class="div-text-image" style="background-color: @colors[random.Next(0, colors.Count())]">@emp.FirstName.ToUpper().First()@emp.LastName.ToUpper().First()</p>     
                             }
                         </div>
                        }
                        
                        @if(task.Employees.Count() > 3){
                          <span>...</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.EndDate)
                    </td>
                   
                    <td>
                         @Html.DisplayFor(modelItem => task.ActualCost)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => task.TotalBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => task.ShowVariance)
                    </td>
                    <td>
                       <a onclick="setParentId(@task.ID)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Sub Task"></i></a>
                    </td>
                </tr>
                position = 0;
                if(!(task.Children is null))
                {  
                  
                    @foreach(var subTask in task.Children)
                    {
                     <tr class="@task.ID hide  row-color">
                     <td>
                        <div id="id-@(subTask.ID)" class="status icone-status @(subTask.Status == "DONE" ? "bg-success": subTask.Status == "TODO" ? "bg-dark " : "bg-primary")"></div>
                         <div id="id-@(subTask.ID)-tooltip" style="display: none;">
                            <strong>@subTask.Status</strong>
                       </div>
                    </td>
                    <td class="fixed-width-td">
                           @subTask.Title
                    </td>
                     <td class="d-flex fixed-width-td">
                        @foreach(var emp in subTask.Employees.Where((e, i) => i < 3).ToList())
                        {   
                           
                              <div class="div-avt-image" style="transform: translateX(@(position++ * (-5))px)">
                                 @if(!(emp.PhotoName is null))
                                 {        
                                   <img src="@emp.PhotoName" />
                                 }
                                 else
                                  {
                                   <p class="div-text-image" style="background-color: @colors[random.Next(0, colors.Count())]">@emp?.FirstName.ToUpper().First()@emp?.LastName.ToUpper().First()</p>     
                                  }
                              </div>
                            
                        }

                        @if(subTask.Employees.Count() > 3){
                          <span>...</span>
                        }
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => subTask.StartDate)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => subTask.EndDate)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => subTask.ActualCost)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => subTask.TotalBudget)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => subTask.ShowVariance)
                    </td>
                    <td></td>
                     </tr> 
                     position = 0; 
                    }
                    
                }
                <tr class="@task.ID hide bg-light">
                    <td colspan="9"></td>
                </tr>
               
            }

        }
    </tbody>
</table>

   @*modal to create task*@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="col g-3" asp-action="Create" id="form" method="post">
            <div class="modal-body">
                
                <div class="col-md mt-1">
                    <label  asp-for="@Model.Task.Title"  class="form-label"></label>
                    <input asp-for="@Model.Task.Title" class="form-control" id="inputEmail4">
                    <span asp-validation-for="@Model.Task.Title" class="text-danger"></span>
                </div>
                <div class="form-outline col-md mt-1">
                        <label class="form-label" asp-for="@Model.Task.Description"></label>
                        <textarea class="form-control" asp-for="@Model.Task.Description" rows="2"></textarea>
                        <span asp-validation-for="@Model.Task.Description" class="text-danger"></span>
                </div>
                    <div class="row mt-1">
                        <div class="col-md-6 mt-1">
                            <label for="inputEmail4" asp-for="@Model.Task.TotalBudget" class="form-label"></label>
                            <input asp-for="@Model.Task.TotalBudget" class="form-control" id="inputEmail4">
                            <span asp-validation-for="@Model.Task.TotalBudget" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mt-1">
                            <label  asp-for="@Model.Task.ActualCost" for="inputPassword4" class="form-label"></label>
                            <input asp-for="@Model.Task.ActualCost"  class="form-control" id="inputPassword4">
                            <span asp-validation-for="@Model.Task.ActualCost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6 mt-1">
                            <label for="startDate" asp-for="@Model.Task.StartDate" class="form-label"></label>
                            <input asp-for="@Model.Task.StartDate" class="form-control" id="startDate">
                            <span asp-validation-for="@Model.Task.StartDate" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mt-1">
                            <label  asp-for="@Model.Task.EndDate" for="endDate" class="form-label"></label>
                            <input asp-for="@Model.Task.EndDate"  class="form-control" id="endDate">
                            <span asp-validation-for="@Model.Task.EndDate" class="text-danger"></span>
                        </div>
                    </div>
                     <div class="row mt-1">
                        <div class="col-md-6 mt-1">
                            <label asp-for="@Model.Task.Status" for="inputState" class="form-label"></label>
                            <select asp-for="@Model.Task.Status" id="inputState" class="form-select">
                                @foreach(var status in Model.Status)
                                {
                                <option value="@status">@status</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6 mt-1">
                             <label for="inputState" class="form-label">Assgin User</label>
                             <select  multiple name="language" id="languages">
                               @foreach(var emp in Model.Employees)
                                {
                                <option value="@emp.ID">@emp.FirstName</option>
                                }
                            </select>
                            
                        </div>
                    </div>
                    
            
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
@section Scripts{

    <script>
      
     
      function toggle(classN){
          $('tr.' + classN).toggle();
          $('i.' + classN).toggleClass('bi-chevron-right bi-chevron-down');
          
      }
       
      $('.status').each((i, e) => {
          console.log(e.id);
          const tooltip = document.getElementById(e.id+'-tooltip');
          tippy('#'+e.id, {
          content: tooltip.innerHTML,
          allowHTML: true,
      })
       })
     ;

     </Script>
   <partial name="_ValidationScriptsPartial" />
   <script src="./js/task.js"></script>
}
