@model IEnumerable<MVC.Models.EmployeeModel>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between mb-2">
<h4>Employees</h4>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateAt)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div style="height: 50px; width: 50px; overflow: hidden; border-radius:50%">
                <img src="@item.PhotoName" style="height: 100%; width: 100%; object-fit: cover"  />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
             <td>
                 @item.CreateAt.ToString($"{0:dd/MM/yyyy}")
            </td>
           @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
