@model MVC.Models.IndexEmployeeViewModel

@{
    ViewData["Title"] = "Index";
    int position = 0;
    var colors = new List<string> {"salmon", "cyan", "pink", "green"};
    var random = new Random();
}

<div class="d-flex justify-content-between mb-2">
<h4>Employees</h4>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Create New Employee
</button>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                 <label asp-for="@Model.Employees.FirstOrDefault(c => c.ID == 0).Photo"></label>
            </th>
            <th>
                 <label asp-for="@Model.Employees.FirstOrDefault(c => c.ID == 0).FirstName"></label>
            </th>
            <th>
                <label asp-for="@Model.Employees.FirstOrDefault(c => c.ID == 0).LastName"></label>
            </th>
            <th>
               <label asp-for="@Model.Employees.FirstOrDefault(c => c.ID == 0).CreateAt"></label>
            </th>
        </tr>
    </thead>
    <tbody>
        @if(!(Model.Employees is null))
        {
            
            @foreach (var emp in Model.Employees) {
        <tr>
            <td>
                <div class="div-avt-image">
                     @if(!(emp.PhotoName is null))
                       {        
                            <img src="@emp.PhotoName" />
                       }
                       else
                        {
                           <p class="div-text-image" style="background-color: @colors[random.Next(0, colors.Count())]">@emp.FirstName.ToUpper().First()@emp.LastName.ToUpper().First()</p>     
                         }
                        </div>
            </td>
            <td>
                @emp.FirstName
            </td>
            <td>
                @emp.LastName
            </td>
             <td>
                  @Html.DisplayFor(modelItem => emp.CreateAt)
            </td>
        </tr>
}
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="col g-3" asp-action="Create"  enctype="multipart/form-data">
      <div class="modal-body">
        <div class="col-md mt-1">
                <label asp-for="@Model.Employee.FirstName" class="control-label"></label>
                <input asp-for="@Model.Employee.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Employee.FirstName" class="text-danger"></span>
              </div>

              <div class="col-md mt-1">
                <label asp-for="@Model.Employee.LastName" class="control-label"></label>
                <input asp-for="@Model.Employee.LastName" class="form-control" />
                <span asp-validation-for="@Model.Employee.LastName" class="text-danger"></span>
             </div>

            <div class="col-md mt-1">
                <label asp-for="@Model.Employee.Photo"></label>
                <input asp-for="@Model.Employee.Photo" form-control" type="file" multiple style="" />
                <span asp-validation-for="@Model.Employee.Photo" class="text-danger"></span>
            </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>

    </div>
  </div>
</div>

@section Scripts{
     <partial name="_ValidationScriptsPartial" />
}



     